.mainsection-main{
    flex-grow: 5;
    width: 100%;
    /* background-color: antiquewhite; */
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mainsection-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* align-items: center; */
}

.mainsection-top h1{
    width: 100%;
}

@media screen and (max-width: 460px) {
    .mainsection-hide{
        display: none;
    }
}