.mainsection-main{
    flex-grow: 5;
    width: 100%;
    /* background-color: antiquewhite; */
    padding: 1rem 2rem;
}
.mainsection-main h1{
    width: 100%;
}

@media screen and (max-width: 460px) {
    .mainsection-hide{
        display: none;
    }
}